<div class="container">

      <div class="info first-panel">
        <p>Erickson Vegas da Silva</p>
        <p>Desenvolvimento de sistemas</p>

        <p>Trabalhar com backend</p>
        <p>Jogar, correr e beber</p>
        <p>
          Linkedin:
          <a
            href="https://www.linkedin.com/in/erickson-vegas-99b9b328b/"
            target="_blank"
          >
            <img src="./../assets/limn.png" width="40px" alt=""></a
          >
        </p>
        <p>
          Github:
          <a href="https://github.com/Vegasdsilva" target="_blank">
            <img src="./../assets/git.png" width="40px" style="border-radius: 100%;" alt="">
          </a>
        </p>
      </div>
      <div class="info second-panel">
        <p>Matheus Leal Oliveira</p>
        <p>Desenvolvimento de sistemas</p>

        <p>Trabalhar com backend</p>
        <p>Jogar videogames, Praticar esportes, Cozinhar</p>
        <p>
          Linkedin:
          <a
            href="https://www.linkedin.com/in/matheus-leal-54093115a/"
            target="_blank"
          >
          <img src="./../assets/limn.png" width="40px" alt=""></a
          >
        </p>
        <p>
          Github:
          <a href="https://github.com/MatheusLeal1309" target="_blank">
            <img src="./../assets/git.png" width="40px" style="border-radius: 100%;" alt="">
          </a>
        </p>
      </div>

